In [2]:
print('Bheruji')

Bheruji

In [4]:
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine
import time
import re

In [ ]:
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")

service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)

URL = "https://data.bls.gov/oes/#/area/0100000"
try:
    driver.get(URL)
    time.sleep(30)

    html = driver.page_source
    with open("bls_oes_area_0100000.html", "w", encoding="utf-8") as f:
        f.write(html)
    print(f"Saved page source ({len(html)} chars)")
finally:
    driver.quit()

KeyboardInterrupt:

In [ ]:
with open("bls_oes_area_0100000.html", "r", encoding="utf-8") as f:
    html = f.read()

soup = BeautifulSoup(html, "html.parser")

In [ ]:
table = []
table_list = soup.find_all('table')
for t in table_list:
    thead = t.find('thead')
    if thead and thead.find('tr').find('th').get_text(strip=True) == 'Occupation (SOC code)':
        table.append(t)
        break

In [184]:
all_rows = []
columns = []
for t in table:
    thead = t.find('thead')
    if thead and thead.find('tr').find('th').get_text(strip=True) == 'Occupation (SOC code)':
        header_row = thead.find('tr')
        headers = header_row.find_all('th')
        for header in headers:
            columns.append(header.get_text(strip=True))

        tbody = t.find('tbody')
        rows = tbody.find_all('tr')

        for row in rows:
            row_data = []   # keep row (the BS4 tag), use row_data for extracted values

            # Get <th> text (if exists)
            th = row.find('th')
            if th:
                row_data.append(th.get_text(strip=True))

            # Get all <td> texts
            tds = row.find_all('td')
            for td in tds:
                row_data.append(td.get_text(strip=True))

            all_rows.append(row_data)

# Remove the last two rows for now (they are summary rows)
all_rows = all_rows[:-2]

In [ ]:
clean_columns = []
for col in columns:
    if 'occupation' not in col.lower():
        col = col.split('(')[0].strip()
    col = col.replace(' ', '_')
    col = col.replace(',', '')
    col = col.replace('(', '')
    col = col.replace(')', '')
    col = col.replace('standard_error', 'std_error')
    col = col.lower()
    clean_columns.append(col)

In [110]:
clean_columns

['occupation_soc_code',
 'employment',
 'employment_percent_relative_std_error',
 'hourly_mean_wage',
 'annual_mean_wage',
 'wage_percent_relative_std_error',
 'hourly_10th_percentile_wage',
 'hourly_25th_percentile_wage',
 'hourly_median_wage',
 'hourly_75th_percentile_wage',
 'hourly_90th_percentile_wage',
 'annual_10th_percentile_wage',
 'annual_25th_percentile_wage',
 'annual_median_wage',
 'annual_75th_percentile_wage',
 'annual_90th_percentile_wage',
 'employment_per_1000_jobs',
 'location_quotient']

In [185]:
columns

['Occupation (SOC code)',
 'Employment(1)',
 'Employment percent relative standard error(3)',
 'Hourly mean wage()',
 'Annual mean wage(2)',
 'Wage percent relative standard error(3)',
 'Hourly 10th percentile wage()',
 'Hourly 25th percentile wage()',
 'Hourly median wage()',
 'Hourly 75th percentile wage()',
 'Hourly 90th percentile wage()',
 'Annual 10th percentile wage(2)',
 'Annual 25th percentile wage(2)',
 'Annual median wage(2)',
 'Annual 75th percentile wage(2)',
 'Annual 90th percentile wage(2)',
 'Employment per 1,000 jobs()',
 'Location Quotient()']

In [248]:
df = pd.DataFrame(all_rows, columns=columns)

In [250]:
df.columns = (
    df.columns
    .map(lambda col: col.split("(")[0].strip() if 'occupation' not in col.lower() else col)          # remove text in ()
    .str.replace(" ", "_")
    .str.replace(",", "")
    .str.replace("(", "")
    .str.replace(")", "")
    .str.replace("standard_error", "std_error")
    .str.lower()
    .str.strip()
)

In [112]:
df['occupation'] = df['occupation_soc_code'].str.split('(').str[0].str.strip()
df['soc_code'] = df['occupation_soc_code'].str.split('(').str[1].str.replace(')', '').str.strip()
df = df.drop(columns=['occupation_soc_code'])

In [252]:
def clean_data(x):
    try:
        if pd.isna(x) or re.fullmatch(r"\(\d+\)-", x):
            return pd.NA
        if ')' in x:
            x = x.split(')', 1)
            if len(x) > 1:
                x = x[1].strip()
        x = x.replace('$', '').replace(',', '')
        return x
    except Exception as e:
        print(f"Error processing value: {x} - {e}")
        return pd.NA

for col in df.columns:
    df[col] = df[col].apply(clean_data)

In [253]:
df

,occupation_soc_code,employment,employment_percent_relative_std_error,hourly_mean_wage,annual_mean_wage,wage_percent_relative_std_error,hourly_10th_percentile_wage,hourly_25th_percentile_wage,hourly_median_wage,hourly_75th_percentile_wage,hourly_90th_percentile_wage,annual_10th_percentile_wage,annual_25th_percentile_wage,annual_median_wage,annual_75th_percentile_wage,annual_90th_percentile_wage,employment_per_1000_jobs,location_quotient
0,,2091480,0.0,26.61,55350,0.3,11.31,14.74,21.07,30.82,47.51,23520,30660,43830,64110,98810,1000.000,1.00
1,,110240,0.9,57.05,118670,0.7,24.57,35.03,48.39,68.50,98.03,51100,72870,100640,142480,203900,52.708,0.74
2,,830,17.6,99.61,207190,4.6,50.46,62.96,79.04,106.69,<NA>,104950,130950,164400,221910,<NA>,0.396,0.29
3,,32370,1.6,64.80,134790,1.6,24.24,35.92,51.12,78.26,<NA>,50410,74720,106330,162780,<NA>,15.476,0.67
4,,1120,8.7,<NA>,36570,3.8,<NA>,<NA>,<NA>,<NA>,<NA>,18270,20950,26990,41760,63900,0.533,3.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,,<NA>,<NA>,19.74,41060,12.9,14.92,18.35,18.95,23.08,23.57,31040,38160,39410,48000,49020,<NA>,<NA>
732,,170,20.3,28.09,58430,5.5,19.94,22.60,24.79,32.38,37.57,41480,47010,51560,67350,78140,0.080,0.98
733,,2000,8.0,20.84,43340,2.6,13.93,16.32,19.16,24.48,29.27,28970,33950,39850,50920,60890,0.954,1.06
734,,220,13.8,34.93,72650,3.4,17.09,30.54,40.99,40.99,40.99,35540,63510,85260,85260,85260,0.105,1.48
735,,<NA>,<NA>,23.61,49110,3.4,22.29,23.04,23.53,24.73,24.81,46350,47920,48950,51430,51610,<NA>,<NA>

In [114]:
# Derive float columns by excluding declared integer columns and the occupation text column
int_columns = ['employment', 'annual_mean_wage', 'annual_10th_percentile_wage', 'annual_25th_percentile_wage', 'annual_median_wage', 'annual_75th_percentile_wage', 'annual_90th_percentile_wage']

# Identify the occupation/name column (assumed first)
occupation_col = df.columns[0]

float_columns = [c for c in df.columns if c not in int_columns and c not in ['occupation', 'soc_code']]

for col in int_columns:
    df[col] = df[col].astype('Int64')  # Use 'Int64' for nullable integers

for col in float_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [115]:
first = ["soc_code", "occupation"]
rest = [c for c in df.columns if c not in first]
df = df[first + rest]

In [116]:
df = df.where(pd.notna(df), None)

In [160]:
onet_skills = pd.read_excel('Skills.xlsx', engine ='openpyxl')
onet_skills.columns = (onet_skills.columns
                                .str.strip()
                                .str.replace(' ', '_')
                                .str.replace('-', '_')
                                .str.replace('*', '')
                                .str.lower()
)

In [173]:
onet_skills['date'] =  pd.to_datetime(onet_skills["date"], format="%m/%Y", errors="coerce")

In [ ]:
onet_skills = onet_skills.where(pd.notna(onet_skills), None)

,o*net_soc_code,title,element_id,element_name,scale_id,scale_name,data_value,n,standard_error,lower_ci_bound,upper_ci_bound,recommend_suppress,not_relevant,date,domain_source
0,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension,IM,Importance,4.12,8,0.1250,3.8800,4.3700,N,NaN,2023-08-01,Analyst
1,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension,LV,Level,4.62,8,0.1830,4.2664,4.9836,N,N,2023-08-01,Analyst
2,11-1011.00,Chief Executives,2.A.1.b,Active Listening,IM,Importance,4.00,8,0.0000,4.0000,4.0000,N,NaN,2023-08-01,Analyst
3,11-1011.00,Chief Executives,2.A.1.b,Active Listening,LV,Level,4.75,8,0.1637,4.4292,5.0708,N,N,2023-08-01,Analyst
4,11-1011.00,Chief Executives,2.A.1.c,Writing,IM,Importance,4.12,8,0.1250,3.8800,4.3700,N,NaN,2023-08-01,Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62575,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.b,Management of Financial Resources,LV,Level,1.12,8,0.1250,0.8800,1.3700,N,N,2019-08-01,Analyst
62576,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.c,Management of Material Resources,IM,Importance,2.00,8,0.0000,2.0000,2.0000,N,NaN,2019-08-01,Analyst
62577,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.c,Management of Material Resources,LV,Level,1.88,8,0.1250,1.6300,2.1200,N,N,2019-08-01,Analyst
62578,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.d,Management of Personnel Resources,IM,Importance,2.88,8,0.1250,2.6300,3.1200,N,NaN,2019-08-01,Analyst
62579,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.d,Management of Personnel Resources,LV,Level,2.75,8,0.1637,2.4292,3.0708,N,N,2019-08-01,Analyst

In [133]:
from sqlalchemy import create_engine, text

engine = create_engine(
    "postgresql+psycopg2://admin:admin@127.0.0.1:5433/oews_net",
    pool_pre_ping=True
)

with engine.connect() as conn:
    result = conn.execute(text("SELECT version()"))

In [120]:
df.dtypes

soc_code                                  object
occupation                                object
employment                                 Int64
employment_percent_relative_std_error    float64
hourly_mean_wage                         float64
annual_mean_wage                           Int64
wage_percent_relative_std_error          float64
hourly_10th_percentile_wage              float64
hourly_25th_percentile_wage              float64
hourly_median_wage                       float64
hourly_75th_percentile_wage              float64
hourly_90th_percentile_wage              float64
annual_10th_percentile_wage                Int64
annual_25th_percentile_wage                Int64
annual_median_wage                         Int64
annual_75th_percentile_wage                Int64
annual_90th_percentile_wage                Int64
employment_per_1000_jobs                 float64
location_quotient                        float64
dtype: object

In [ ]:
ddl = """
CREATE TABLE IF NOT EXISTS public.oews_by_state (
  oews_soc_code                   TEXT,
  occupation                      TEXT,
  employment                      BIGINT,
  employment_percent_relative_std_error          NUMERIC(6,2),
  hourly_mean_wage                NUMERIC(10,2),
  annual_mean_wage                BIGINT,
  wage_percent_relative_std_error                NUMERIC(6,2),
  hourly_10th_percentile_wage     NUMERIC(10,2),
  hourly_25th_percentile_wage     NUMERIC(10,2),
  hourly_median_wage              NUMERIC(10,2),
  hourly_75th_percentile_wage     NUMERIC(10,2),
  hourly_90th_percentile_wage     NUMERIC(10,2),
  annual_10th_percentile_wage     BIGINT,
  annual_25th_percentile_wage     BIGINT,
  annual_median_wage              BIGINT,
  annual_75th_percentile_wage     BIGINT,
  annual_90th_percentile_wage     BIGINT,
  employment_per_1000_jobs        NUMERIC(10,3),
  location_quotient               NUMERIC(10,3)
);

CREATE TABLE IF NOT EXISTS public.onet_skills (
  onet_soc_code      TEXT        NOT NULL,
  title              TEXT,
  element_id         TEXT        NOT NULL,
  element_name       TEXT,
  scale_id           TEXT        NOT NULL,
  scale_name         TEXT,
  data_value         NUMERIC(18,6),
  n                  BIGINT,
  standard_error     NUMERIC(18,6),
  lower_ci_bound     NUMERIC(18,6),
  upper_ci_bound     NUMERIC(18,6),
  recommend_suppress TEXT,        
  not_relevant       TEXT,       
  "date"             DATE       NOT NULL,
  domain_source      TEXT
);
"""

with engine.connect() as conn:
    conn.execute(text(ddl))
    conn.commit()

In [136]:
df.to_sql(
    "oews_by_state",
    engine,
    schema="public",
    if_exists="append",
    index=False,
    method="multi",
    chunksize=10_000
)

736

In [174]:
onet_skills.to_sql(
    "onet_skills",
    engine,
    schema="public",
    if_exists="append",
    index=False,
    method="multi",
    chunksize=10_000
)

62580

In [ ]:
from attr import dataclass  
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine, text
import re

@dataclass
class PipelineConfig:
    url: str = "https://data.bls.gov/oes/#/area/0100000"
    output_html_path: str = "bls_oes_area_0100000.html"
    db_connection_string: str = "postgresql+psycopg2://admin:admin@127.0.0.1:5433/oews_net"
    skills_excel_path: str = "Skills.xlsx"
    selenium_wait_time: int = 60
    chunksize: int = 10_000

class SeleniumHandler:
    def __init__(self, config: PipelineConfig):
        options = webdriver.ChromeOptions()
        options.add_argument("--start-maximized")
        service = Service(ChromeDriverManager().install())
        self.driver = webdriver.Chrome(service=service, options=options)
        self.url = config.url
        self.wait_time = config.selenium_wait_time

    def fetch_page(self) -> str:
        try:
            self.driver.get(self.url)
            time.sleep(self.wait_time)
            return self.driver.page_source
        except Exception as e:
            print(f"Error fetching page: {e}")
            return ""
        finally:
            self.driver.quit()
    
class DataExtractor:
    def __init__(self, html: str):
        self.soup = BeautifulSoup(html, "html.parser")

    def extract_table(self) -> pd.DataFrame:
        table = None
        table_list = self.soup.find_all('table')
        for t in table_list:
            thead = t.find('thead')
            if thead and thead.find('tr').find('th').get_text(strip=True) == 'Occupation (SOC code)':
                table = t
                break

        if not table:
            raise ValueError("Target table not found in HTML.")

        columns = [th.get_text(strip=True) for th in table.find('thead').find_all('th')]
        all_rows = []
        for row in table.find('tbody').find_all('tr'):
            row_data = []
            th = row.find('th')
            if th:
                row_data.append(th.get_text(strip=True))
            for td in row.find_all('td'):
                text = td.get_text(strip=True)
                row_data.append(text)
            all_rows.append(row_data)
            all_rows = all_rows[:-2]

        return pd.DataFrame(all_rows, columns=columns)
    
class Cleaner:
    def __init__(self, df: pd.DataFrame):
        self.df = df    
    
    def clean_columns(self):
        self.df.columns = (
                            self.df.columns
                            .map(lambda col: col.split("(")[0].strip() if 'occupation' not in col.lower() else col)    
                            .str.replace(" ", "_")
                            .str.replace(",", "")
                            .str.replace("(", "")
                            .str.replace(")", "")
                            .str.replace("standard_error", "std_error")
                            .str.lower()
                            .str.strip()
                        )
        
    def split_occupation_soc(self):
        self.df['occupation'] = self.df['occupation_soc_code'].str.split('(').str[0].str.strip()
        self.df['soc_code'] = self.df['occupation_soc_code'].str.split('(').str[1].str.replace(')', '').str.strip()
        self.df = self.df.drop(columns=['occupation_soc_code'])
    
    def clean_data(self, x):
        try:
            if pd.isna(x) or re.fullmatch(r"\(\d+\)-", x):
                return pd.NA
            if ')' in x:
                x = x.split(')', 1)
                if len(x) > 1:
                    x = x[1].strip()
            x = x.replace('$', '').replace(',', '')
            return x
        except Exception as e:
            print(f"Error processing value: {x} - {e}")

    def clean_data_types(self):
        integer_cols = ['employment', 'annual_mean_wage', 'annual_10th_percentile_wage', 'annual_25th_percentile_wage', 'annual_median_wage', 'annual_75th_percentile_wage', 'annual_90th_percentile_wage']
        float_columns = [c for c in self.df.columns if c not in integer_cols and c not in ['occupation', 'soc_code']]
        for col in integer_cols:
            self.df[col] = pd.to_numeric(self.df[col], errors='coerce').astype('Int64')
        for col in float_columns:
            self.df[col] = pd.to_numeric(self.df[col], errors='coerce')

    def get_cleaned_df(self) -> pd.DataFrame:
        self.clean_columns()
        self.split_occupation_soc()
        self.clean_data_types()
        self.df = self.df.applymap(self.clean_data)
        self.df = self.df.where(pd.notna(self.df), None)
        first = ["soc_code", "occupation"]
        rest = [c for c in self.df.columns if c not in first]
        self.df = self.df[first + rest]
        return self.df

In [210]:
import time

start_time = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())
print(f"Pipeline started at {start_time}")
print("-" * 50)

config = PipelineConfig()

# Step 1: Fetch HTML using Selenium
print("Fetching HTML content...")
selenium_handler = SeleniumHandler(config)
html = selenium_handler.fetch_page()

if not html:
    print("Failed to fetch HTML content.")

print("HTML content fetched successfully.")
print("-" * 50)

# Step 2: Extract data from HTML
print("Extracting data from HTML...")   
extractor = DataExtractor(html)
oews_df = extractor.extract_table()
print(f"Extracted {len(oews_df)} rows successfully.")
print("-" * 50)

# Step 3: Clean the data
print("Cleaning data...")
cleaner = Cleaner(oews_df)
oews_df = cleaner.get_cleaned_df()
print("Data cleaned successfully.")
print("-" * 50)

Pipeline started at 2025-09-15 12:10:55
--------------------------------------------------
Fetching HTML content...
HTML content fetched successfully.
--------------------------------------------------
Extracting data from HTML...
Extracted 0 rows successfully.
--------------------------------------------------
Cleaning data...
Data cleaned successfully.
--------------------------------------------------

In [267]:
oews_df = pd.DataFrame(all_rows, columns=columns)

In [ ]:


oews_df = oews_df.applymap(clean_data)

C:\Users\ratho\AppData\Local\Temp\ipykernel_10040\2573082812.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  oews_df = oews_df.applymap(clean_data)

In [266]:
oews_df

,employment,employment_percent_relative_std_error,hourly_mean_wage,annual_mean_wage,wage_percent_relative_std_error,hourly_10th_percentile_wage,hourly_25th_percentile_wage,hourly_median_wage,hourly_75th_percentile_wage,hourly_90th_percentile_wage,annual_10th_percentile_wage,annual_25th_percentile_wage,annual_median_wage,annual_75th_percentile_wage,annual_90th_percentile_wage,employment_per_1000_jobs,location_quotient,occupation,soc_code
0,2091480,0.0,26.61,55350,0.3,11.31,14.74,21.07,30.82,47.51,23520,30660,43830,64110,98810,1000.000,1.00,All Occupations,00-0000
1,110240,0.9,57.05,118670,0.7,24.57,35.03,48.39,68.50,98.03,51100,72870,100640,142480,203900,52.708,0.74,Management Occupations,11-0000
2,830,17.6,99.61,207190,4.6,50.46,62.96,79.04,106.69,-,104950,130950,164400,221910,-,0.396,0.29,Chief Executives,11-1011
3,32370,1.6,64.80,134790,1.6,24.24,35.92,51.12,78.26,-,50410,74720,106330,162780,-,15.476,0.67,General and Operations Managers,11-1021
4,1120,8.7,-,36570,3.8,-,-,-,-,-,18270,20950,26990,41760,63900,0.533,3.10,Legislators,11-1031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,-,-,19.74,41060,12.9,14.92,18.35,18.95,23.08,23.57,31040,38160,39410,48000,49020,-,-,Gas Compressor and Gas Pumping Station Operators,53-7071
732,170,20.3,28.09,58430,5.5,19.94,22.60,24.79,32.38,37.57,41480,47010,51560,67350,78140,0.080,0.98,Pump Operators Except Wellhead Pumpers,53-7072
733,2000,8.0,20.84,43340,2.6,13.93,16.32,19.16,24.48,29.27,28970,33950,39850,50920,60890,0.954,1.06,Refuse and Recyclable Material Collectors,53-7081
734,220,13.8,34.93,72650,3.4,17.09,30.54,40.99,40.99,40.99,35540,63510,85260,85260,85260,0.105,1.48,Tank Car Truck and Ship Loaders,53-7121
735,-,-,23.61,49110,3.4,22.29,23.04,23.53,24.73,24.81,46350,47920,48950,51430,51610,-,-,Material Moving Workers All Other,53-7199

In [ ]:
def clean_data(x):
    try:
        if pd.isna(x) or re.fullmatch(r"\(\d+\)-", x):
            return pd.NA
        if ')' in x:
            x = x.split(')', 1)
            if len(x) > 1:
                x = x[1].strip()
        x = x.replace('$', '').replace(',', '')
        return x
    except Exception as e:
        print(f"Error processing value: {x} - {e}")
        return pd.NA
    
def clean_columns(df):
    df.columns = (
                        df.columns
                        .map(lambda col: col.split("(")[0].strip() if 'occupation' not in col.lower() else col)    
                        .str.replace(" ", "_")
                        .str.replace(",", "")
                        .str.replace("(", "")
                        .str.replace(")", "")
                        .str.replace("standard_error", "std_error")
                        .str.lower()
                        .str.strip()
                    )
    return df

def split_occupation_soc(df):
    df['occupation'] = df['occupation_soc_code'].str.split('(').str[0].str.strip()
    df['soc_code'] = df['occupation_soc_code'].str.split('(').str[1].str.replace(')', '').str.strip()
    df = df.drop(columns=['occupation_soc_code'])
    return df

def clean_data_types(df):
    integer_cols = ['employment', 'annual_mean_wage', 'annual_10th_percentile_wage', 'annual_25th_percentile_wage', 'annual_median_wage', 'annual_75th_percentile_wage', 'annual_90th_percentile_wage']
    float_columns = [c for c in df.columns if c not in integer_cols and c not in ['occupation', 'soc_code']]
    for col in integer_cols:
        df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')
    for col in float_columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

In [268]:
oews_df = clean_columns(oews_df)
oews_df = split_occupation_soc(oews_df)
oews_df = oews_df.applymap(clean_data)

C:\Users\ratho\AppData\Local\Temp\ipykernel_10040\1632866331.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  oews_df = oews_df.applymap(clean_data)

In [260]:
oews_df = split_occupation_soc(oews_df)

In [270]:
oews_df = clean_data_types(oews_df)

In [273]:
first = ["soc_code", "occupation"]
rest = [c for c in oews_df.columns if c not in first]
oews_df = oews_df[first + rest]

In [274]:
oews_df

,soc_code,occupation,employment,employment_percent_relative_std_error,hourly_mean_wage,annual_mean_wage,wage_percent_relative_std_error,hourly_10th_percentile_wage,hourly_25th_percentile_wage,hourly_median_wage,hourly_75th_percentile_wage,hourly_90th_percentile_wage,annual_10th_percentile_wage,annual_25th_percentile_wage,annual_median_wage,annual_75th_percentile_wage,annual_90th_percentile_wage,employment_per_1000_jobs,location_quotient
0,00-0000,All Occupations,2091480,0.0,26.61,55350,0.3,11.31,14.74,21.07,30.82,47.51,23520,30660,43830,64110,98810,1000.000,1.00
1,11-0000,Management Occupations,110240,0.9,57.05,118670,0.7,24.57,35.03,48.39,68.50,98.03,51100,72870,100640,142480,203900,52.708,0.74
2,11-1011,Chief Executives,830,17.6,99.61,207190,4.6,50.46,62.96,79.04,106.69,NaN,104950,130950,164400,221910,<NA>,0.396,0.29
3,11-1021,General and Operations Managers,32370,1.6,64.80,134790,1.6,24.24,35.92,51.12,78.26,NaN,50410,74720,106330,162780,<NA>,15.476,0.67
4,11-1031,Legislators,1120,8.7,NaN,36570,3.8,NaN,NaN,NaN,NaN,NaN,18270,20950,26990,41760,63900,0.533,3.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,53-7071,Gas Compressor and Gas Pumping Station Operators,<NA>,NaN,19.74,41060,12.9,14.92,18.35,18.95,23.08,23.57,31040,38160,39410,48000,49020,NaN,NaN
732,53-7072,Pump Operators Except Wellhead Pumpers,170,20.3,28.09,58430,5.5,19.94,22.60,24.79,32.38,37.57,41480,47010,51560,67350,78140,0.080,0.98
733,53-7081,Refuse and Recyclable Material Collectors,2000,8.0,20.84,43340,2.6,13.93,16.32,19.16,24.48,29.27,28970,33950,39850,50920,60890,0.954,1.06
734,53-7121,Tank Car Truck and Ship Loaders,220,13.8,34.93,72650,3.4,17.09,30.54,40.99,40.99,40.99,35540,63510,85260,85260,85260,0.105,1.48
735,53-7199,Material Moving Workers All Other,<NA>,NaN,23.61,49110,3.4,22.29,23.04,23.53,24.73,24.81,46350,47920,48950,51430,51610,NaN,NaN